.main-header {
 font-family: 'Oswald', sans-serif; 
 text-transform: uppercase;         
 text-align:center;                 
 font-size:1.7rem;                  
 color: var(--main-white);
 background: var(--deep-dark);
}

.title-header{
	text-align:center;
}
.main-form{
	display:flex;
	justify-content:center;
    margin: 120px 0px 0px 0px;
    z-index: -1;
    height: auto;
    width:auto;
}

input[type="file"]{
	display:none;
}

#label-image{
    line-height:calc(400px - 125px);
    background: var(--sec-purple);
    padding:50px;
    cursor: pointer;
    font-size: 35px;
    color:var(--main-white);
    border-radius:10px;
}

#label-image:hover{
    background: var(--main-purple);
}

.footer-content{
	display:flex;
	justify-content:space-around;
}

.main-footer{
	background: var(--deep-dark);
	bottom : 0;  
	height : 100px;  
	margin-top : 40px;  
	text-align: center;  
	vertical-align: middle; 
	position:fixed;
	width:100%;
	color: var(--main-white);
}

.left-side-footer,.right-side-footer{
	padding:45px;
}

#modal-box{
    height: 40vh;
    width:100%;
    max-width: 600px;
    background: var(--main-white);
    border-radius:5px;
    z-index: 999;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    display:  flex;
    flex-direction:column;
    justify-content: space-between;
    opacity: 0;
    /* padding: 20px 0px; */
    pointer-events: none;
    margin-top: -40px;
}

#close-button .close-icon{
    color: var(--main-critical); 
    font-size: 30px;
    font-weight:900;
    padding:10px;
    cursor: pointer;
}

#close-button .close-icon:hover{
    background:var(--main-critical);
    color:var(--main-white);
    width:22px;
}

#convert-box{
    display: flex;
    justify-content: center;
}

#convert-btn{
    border: 1px transparent;
    cursor: pointer;
    background: var(--main-purple);
    color: var(--main-white);
    outline:none;
    text-transform:uppercase;
    padding:15px;
    font-size:17px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#convert-btn:hover{
    background: var(--sec-purple);
}



